<h1> This is <%= @cat.name%> (show) </h1>

<table>
    <thead>
        <tr>
            <th> <%= @cat.name%>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td> Gender: </td>
            <td> <%= @cat.sex %></td>

        <tr>
        <tr>
            <td> Birthday: </td>
            <td> <%= @cat.birth_date %> </td>
        <tr>
        <tr>
            <td> Age:  </td>
            <td> <%= @cat.age  %></td>
        <tr>
        <tr>
            <td> Color: </td>
            <td> <%= @cat.color %> </td>

        <tr>
    </tbody>
</table>